#Maven
quarkus_service/target/
quarkus_service/pom.xml.tag
quarkus_service/pom.xml.releaseBackup
quarkus_service/pom.xml.versionsBackup
quarkus_service/release.properties
quarkus_service/.flattened-pom.xml
quarkus_service/.env

# IntelliJ
.idea
*.ipr
*.iml
*.iws
quarkus_service/.idea
quarkus_service/*.ipr
quarkus_service/*.iml
quarkus_service/*.iws

# Visual Studio Code
.vscode
.factorypath
quarkus_service/.vscode
quarkus_service/.factorypath

# patch
*.orig
*.rej

# Local environment
quarkus_service/.env

# Plugin directory
quarkus_service/.quarkus/cli/plugins/

# OCaml rules project
ocaml_rules/_build/
ocaml_rules/*.cmx
ocaml_rules/*.cmi
ocaml_rules/*.cmo
ocaml_rules/*.exe
ocaml_rules/.dune/

