#Maven
quarkus_rules/target/
quarkus_rules/pom.xml.tag
quarkus_rules/pom.xml.releaseBackup
quarkus_rules/pom.xml.versionsBackup
quarkus_rules/release.properties
quarkus_rules/.flattened-pom.xml
quarkus_rules/.env

# IntelliJ
.idea
*.ipr
*.iml
*.iws
quarkus_rules/.idea
quarkus_rules/*.ipr
quarkus_rules/*.iml
quarkus_rules/*.iws

# Visual Studio Code
.vscode
.factorypath
quarkus_rules/.vscode
quarkus_rules/.factorypath

# patch
*.orig
*.rej

# Local environment
quarkus_rules/.env

# Plugin directory
quarkus_rules/.quarkus/cli/plugins/

# OCaml rules project
ocaml_rules/_build/
ocaml_rules/*.cmx
ocaml_rules/*.cmi
ocaml_rules/*.cmo
ocaml_rules/*.exe
ocaml_rules/.dune/

