#Java
java_implementations/target/
java_implementations/pom.xml.tag
java_implementations/pom.xml.releaseBackup
java_implementations/pom.xml.versionsBackup
java_implementations/release.properties
java_implementations/.flattened-pom.xml
java_implementations/.env

# Python
__pycache__/
*.pyc

# IntelliJ
.idea
*.ipr
*.iml
*.iws
java_implementations/.idea
java_implementations/*.ipr
java_implementations/*.iml
java_implementations/*.iws

# Visual Studio Code
.vscode
.factorypath
java_implementations/.vscode
java_implementations/.factorypath

# patch
*.orig
*.rej

# Local environment
java_implementations/.env

# Plugin directory
java_implementations/.quarkus/cli/plugins/

# OCaml rules project
ocaml_rules/_build/
ocaml_rules/*.cmx
ocaml_rules/*.cmi
ocaml_rules/*.cmo
ocaml_rules/*.exe
ocaml_rules/.dune/

# OCaml state machine project
ocaml_state_machine/_build/
ocaml_state_machine/*.cmx
ocaml_state_machine/*.cmi
ocaml_state_machine/*.cmo
ocaml_state_machine/*.exe
ocaml_state_machine/.dune/
ocaml_state_machine/*.mmd
_opam/

# Python state machine cli
python_state_machine/.env
python_state_machine/dist/
python_state_machine/src/state_machine/output-files/
python_state_machine/src/state_machine/__init__.py
