FILES_PATH=<subfolder in the same path of the executable>
DATA_PATH=<subfolder in FILES_PATH for scenarios>
REPORT_PATH=<subfolder in FILES_PATH for scenarios>
FILE_NAME_DATA=<name of the file to save the json>
FILE_NAME_RESULT=<name of the file to save the md>
STATE_MACHINE_PATH_DATA=<complete path for scenarios> 
STATE_MACHINE_PATH_REPORTS=<complete path for reports> 
