OUTPUT_FILE_PATH=<subfolder in the same path of the executable>
PATH_NAME=<subfolder in the above path>
FILE_NAME_SCENARIO=<name of the file to save the json>
FILE_NAME_RESULT=<name of the file to save the md>
STATE_MACHINE_OUTPUT_PATH=<complete output path> # if not in the same path of the executable